* {
    background-color: aquamarine;
}

.pot-collar {
    width: 100px;
    height: 20px;
    background-color: #FF7043;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.pot-collar-shadow {
    width: 72px;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #F4511E;
    top: calc(50% + 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.pot-body {
    width: 50px;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid #FF7043;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.cactus-left {

}

.cactus-middle {

}

.cactus-right {

}
